/* Color Pallet
Dark Blue: #252839
Grey Blue: #677077
Light Grey: #b5b5b7
Yellow/Gold: #f2b632
Whiteish: #e6e9f0
/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

@media(max-width:767px){
  
}
@media(min-width:768px){
  
}
@media(min-width:992px){
  
}
@media(min-width:1200px){
  
}

nav.navbar{
  background-color: #252839;
  border-bottom: 1px solid #b5b5b7;
  color: #e6e9f0;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand, .navbar-default .navbar-nav>li>a{
  color: #e6e9f0;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #f2b632;
}


img.profilepic{
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  margin-bottom: 30px;
  width: 250px;
  height:250px;
}

.parallax-bg{
  display: block;
  background-color:rgba(255,255,255,0.75);
  margin:auto;
  padding:1em;
  border-radius:20px;
  border: 2px solid #677077;
}


/*cs projects */
#webdev {
  background: url(../img/webdev.jpg) no-repeat center center fixed;  
  display: table;
  height:35%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#prog{
  background: url(../img/1001.jpg) no-repeat center center fixed;  
  display: table;
  height:35%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top:1px solid white;
}

#meche{
    background: url(../img/meche.jpg) no-repeat center center fixed;  
  display: table;
  height:35%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home {
  background: #f2b632; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

span.tag{
  padding:4px;
  margin-left:3px;
  margin-right:3px;
  line-height: 2em;
}
div.tags{
  margin-top: 10px;
}
/* Color Pallet
Dark Blue: #252839
Grey Blue: #677077
Light Grey: #b5b5b7
Yellow/Gold: #f2b632
Whiteish: #e6e9f0
/* general styles */
.proj1 {
  background-color: #677077;
  color: #ffffff;
}
.proj1 a{
  color:#f2b632;
}
.proj1 span.tag{
  border:1px solid white;
  border-radius: 10%;
  color: #252839;
  background-color:#f2b632;
}

.proj2{
  background-color: #f2b632;
  color: #252839;
}
.proj2 a{
  
}
.proj2 span.tag{
  border:1px solid white;
  border-radius: 10%;
  color: white;
  background-color:#252839;
}
.proj3{
  background-color: #252839;
  color: #ffffff;
}
.proj3 a{
  color: #b5b5b7;
}
.proj3 span.tag{
  border:1px solid white;
  border-radius: 10%;
  color: #252839;
  background-color:#f2b632;
}
.proj4{
  background-color: #b5b5b7;
  color: #252839;
}

.proj4 a{
  color: #ffffff;
}

.proj4 span.tag{
  border:1px solid white;
  border-radius: 10%;
  color: white;
  background-color:#252839;
}
